<div class="flex">

  <section class="h-screen p-4 flex flex-col gap-4 flex-none bg-white border-r border-gray-300 overflow-auto w-90">
    <%= render "weekday_picker" %>
    <%= render "progress" %>

    <div class="flex flex-col gap-4">
      <h1 class="font-semibold">Meals</h1>

      <%= render @meals %>

      <button class="px-4 py-2 text-sm font-medium text-white bg-lime-600 hover:bg-lime-700 w-full rounded-sm">Add meal</button>
    </div>
  </section>

  <!-- meal details -->
  <section class="flex min-h-0 flex-col flex-auto overflow-y-auto">
    <header class="bg-gray-200 p-4">
      <h1 class="text-xl font-bold">Lunch Details for Thu, May 15</h1>
    </header>

    <div class="p-4 flex flex-col gap-4">
      <%= render "ingredient", name: "Chicken Sandwich" %>
      <%= render "ingredient", name: "Apple" %>

      <%= render "form_full" %>
      <%= render "form_quick" %>

      <%= render "meal_summary" %>

      <div class="flex gap-2">
        <button class="px-4 py-2 text-sm font-medium text-white bg-lime-600 hover:bg-lime-700 rounded-sm">Add Ingredient</button>
        <button class="px-4 py-2 text-sm font-medium text-white bg-red-600 hover:bg-red-700 rounded-sm">Delete Meal</button>
      </div>
    </div>
  </section>
</div>
