<tr>
  <td class="p-2 text-slate-200 text-left bg-slate-700 border border-slate-500"><%= product.name %></td>
  <td class="p-2 text-slate-200 text-left bg-slate-700 border border-slate-500"><%= product.calories %></td>
  <td class="p-2 text-slate-200 text-left bg-slate-700 border border-slate-500"><%= product.protein %></td>
  <td class="p-2 text-slate-200 text-left bg-slate-700 border border-slate-500"><%= product.fat %></td>
  <td class="p-2 text-slate-200 text-left bg-slate-700 border border-slate-500"><%= product.carbs %></td>
  <td class="p-2 text-slate-200 text-left bg-slate-700 border border-slate-500"></td>
</tr>
