<h1 class="p-4 text-xl font-bold bg-gray-200 sticky top-0 z-100">Edit product</h1>

<section class="flex flex-col p-4 gap-4 overflow-auto">
  <%= form_for @product, html: { class: "p-2 flex flex-col gap-y-2 border border-gray-300 rounded-sm bg-white text-sm" } do |f| %>
    <div class="flex flex-wrap gap-2">
      <%= f.text_field :name, placeholder: "Product name", class: "min-w-30 flex-1 border border-gray-300 rounded-sm bg-white" %>
      <div class="flex">
        <%= f.number_field :calories, class: "border border-gray-300 rounded-l-sm bg-white w-20" %>
        <span class="input-addon">kcal/100g</span>
      </div>
    </div>

    <div class="flex flex-wrap gap-2">
      <div class="flex flex-1 min-w-40">
        <%= f.number_field :protein, step: 0.5, class: "min-w-10 flex-1 border border-gray-300 rounded-l-sm bg-white" %>
        <span class="input-addon">protein</span>
      </div>
      <div class="flex flex-1 min-w-40">
        <%= f.number_field :fat, step: 0.5, class: "min-w-10 flex-1 border border-gray-300 rounded-l-sm bg-white" %>
        <span class="input-addon">fat</span>
      </div>
      <div class="flex flex-1 min-w-40">
        <%= f.number_field :carbs, step: 0.5, class: "min-w-10 flex-1 border border-gray-300 rounded-l-sm bg-white" %>
        <span class="input-addon">carbs</span>
      </div>
    </div>

    <div class="flex flex-wrap gap-2 items-baseline">
      Portion:
      <%= f.select :portion_type, [["Cup", "cup"], ["Spoon", "spoon"], ["Unit", "unit"]], { include_blank: "-" }, class: "border border-gray-300 rounded-sm bg-white" %>
      =
      <div class="flex min-w-40">
        <%= f.number_field :portion_size, class: "min-w-10 border border-gray-300 rounded-l-sm bg-white" %>
        <span class="input-addon">g</span>
      </div>
    </div>

    <div class="flex gap-2">
      <%= f.submit "Save", class: "px-3 py-1 font-medium text-white bg-lime-600 hover:bg-lime-700 rounded-sm" %>
      <%= link_to "Cancel", :back, class: "px-3 py-1 font-medium text-gray-700 bg-gray-200 hover:bg-gray-300 rounded-sm" %>
    </div>
  <% end %>
</section>
