<% content_for :body do %>
  <nav class="fixed w-12 h-screen py-1 flex flex-col gap-2 justify-between text-2xl bg-lime-900 text-lime-300/60">
    <div class="flex flex-col gap-2 items-center">
      <%= nav_link_to "calendar_month", root_path, "meals" %>
      <%= nav_link_to "shelves", products_path, "products" %>
      <%= nav_link_to "chef_hat", recipes_path, "recipes" %>
      <%= nav_link_to "monitoring", statistics_path, "statistics" %>
      <%= nav_link_to "settings", settings_path, "settings" %>
    </div>

    <div class="flex flex-col gap-2 items-center">
      <%= button_to "logout", session_path, method: :delete, class: "material-icon p-2 hover:text-white cursor-pointer", title: "Logout" %>
    </div>
  </nav>

  <main class="ml-12 flex flex-col" data-controller="page">
    <%= yield %>
  </main>
<% end %>

<%= render template: "layouts/base" %>
