<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Foodie" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if Rails.env.development? %>
      <meta name="turbo-prefetch" content="false">
    <% end %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@36,300,0,0&family=Space+Grotesk:wght@300..700" rel="stylesheet">

    <%= stylesheet_link_tag :app, "data-turbo-track": Rails.env.production? ? "reload" : "" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    <nav class="fixed w-12 h-screen flex flex-col gap-2 justify-start items-center text-2xl bg-lime-900 text-lime-300/60">
      <a title="Dashboard" href="/" class="material-icon p-2 hover:text-white">home</a>
      <a title="Pantry" href="/products" class="material-icon bg-lime-600 p-2 text-white rounded-sm">shelves</a>
      <a title="Recipes" href="/recipes" class="material-icon p-2 hover:text-white">chef_hat</a>
      <a title="Statistics" href="/statistics" class="material-icon p-2 hover:text-white">monitoring</a>
      <a title="Settings" href="/settings" class="material-icon p-2 hover:text-white">settings</a>
    </nav>

    <main class="ml-12 flex flex-col">
      <%= yield %>
    </main>
  </body>
</html>
